<h1><%= @country.name %>'s Country Detail Page</h1>

<% if @country.language %>
  <p>
    <span class="inline-label blue">Language: </span><%= @country.language %>
  </p>
<% end %>

<% if @country.image_url %>
  <p>
    <%= image_tag @country.image_url %>
  </p>
<% end %>

<p>
  <%= @country.blurb  %>
</p>
<br>
<br>
<h4>Description:</h4>
<p>
  <%= @country.description %>
</p>

<p>
  <%= link_to "Edit", edit_country_path(@country) %> |
  <%= link_to "Delete", country_path(@country),
                       :data => {:confirm => "Are you sure?",
                                 :method => "delete"} %>
</p>
