<h1><%= @country.name %>'s Country Detail Page</h1>

<% if @country.sub_region %>
  <p>
    <span class="green">Region: </span><%= @country.sub_region %>
  </p>
<% end %>

<% if @country.language %>
  <p>
    <span class="green">Language: </span><%= @country.language %>
  </p>
<% end %>

<% if @country.image_url %>
  <p>
    <%= image_tag @country.image_url %>
  </p>
<% end %>

<p>
  <%= @country.blurb  %>
</p>

<h4>Description:</h4>
<p>
  <%= @country.description %>
</p>
<% if user_signed_in? %>
  <p>
    <%= link_to "Edit", edit_country_path(@country) %> |
    <%= link_to "Add Post", new_country_post_path(@country) %> |
    <%= link_to "Delete", country_path(@country),
        :data => {:confirm => "Are you sure?", :method => "delete"} %>
  </p>
<% end %>

<hr>

<% if user_signed_in? %>
  <p><%= link_to "Add Destination", new_country_destination_path(@country) %></p>
<% end %>


<h3>Destinations:</h3>
  <% if @country.destinations.any? %>
    <ol>
      <% @country.destinations.order(:name => :ASC).each do |destination| %>
        <li>
          <%= link_to country_destination_path(destination.country, destination) do %>
            <%= destination.name %> : <%= destination.blurb %>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>No Destinations added yet!</p>
  <% end %>
