<h1>New forecast</h1>


<%= form_for [@destination, @forecast] do |f| %>
  <%= f.label :latitude %>
  <%= f.number_field :latitude, :required => true, :in => -90..90 %>
  <%= f.label :longitude %>
  <%= f.number_field :longitude, :required => true, :in => -180..180 %>
  <%= f.submit %>
<% end %>
