$('#new_post').remove();
$('#d_add_post_link').show();
<% if !@post.id.nil? %>
  <% if @commentable.posts.count < 2 %>
    $('p.no_posts_msg').remove();
    $('div.destination_post_list').prepend(
        "<table id='destination_post_table' class='table table-bordered'>" +
          "<thead class='thead-inverse'>" +
            "<tr>" +
            '<th><%= link_to "Username", :controller => "destinations", :action => "show", :country_id => @destination.country.id, :id => @destination.id, :sort => "username" %></th>' +
            '<th><%= link_to "Last Updated", :controller => "destinations", :action => "show", :country_id => @destination.country.id, :id => @destination.id, :direction => "desc", :sort => "updated_at"  %></th>' +
            '<th><%= link_to "Content", :controller => "destinations", :action => "show", :country_id => @destination.country.id, :id => @destination.id, :sort => "content"  %></th>' +
            "</tr>" +
          "</thead>")
  <% end %>
  $('#destination_post_table').prepend('<tr> ' +
                                          '<td> <%= User.find(@post.user_id).username %> </td>' +
                                          '<td> <%= @post.updated_at.strftime("%F") %> </td>' +
                                          '<td> <%= @post.content %> </td>' +
                                        '</tr>');
<% end %>
