$('#new_post').remove();
$('#d_add_post_link').show();
<% if !@post.id.nil? %>
  <% if @commentable.posts.count < 2 %>
    $('p.no_posts_msg').remove();
    $('div.destination_post_list').prepend(
        "<table id='destination_post_table' class='table table-bordered'>" +
          "<thead class='thead-inverse'>" +
            "<tr>" +
              '<th><%= sortable "username" %></th>' +
              '<th><%= sortable "updated_at", "Last Updated" %></th>' +
              '<th><%= sortable "content" %></th>' +
            "</tr>" +
          "</thead>")
  <% end %>
  $('#destination_post_table').prepend('<tr> ' +
                                          '<td> <%= User.find(@post.user_id).username %> </td>' +
                                          '<td> <%= @post.updated_at.strftime("%F") %> </td>' +
                                          '<td> <%= @post.content %> </td>' +
                                        '</tr>');
<% end %>
