<h1><%= @destination.name %>'s Destination Detail Page</h1>

<% if @destination.image_url %>
  <p>
    <%= image_tag @destination.image_url %>
  </p>
<% end %>

<p>
  <%= @destination.blurb  %>
</p>

<h4>Description:</h4>
<p>
  <%= @destination.description %>
</p>

<p>
  <%= link_to @destination.country.name + " Page", country_path(@destination.country) %>
    <% if user_signed_in? %>
    | <%= link_to "Edit", edit_country_destination_path(@destination.country, @destination) %> |
      <%= link_to "Delete", country_destination_path(@destination.country, @destination),
      :data => {:confirm => "Are you sure?",
        :method => "delete"} %>
    <% end %>
</p>

<hr>

<% if user_signed_in? %>
  <%= link_to 'Add Post', new_country_destination_post_path(@destination.country, @destination), remote: true, id: "d_add_post_link" %>
<% end %>

<h3>Posts:</h3>
  <div class="destination_post_list">
    <% if @destination.posts.any? %>
      <table id="destination_post_table" class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th><%= sortable "username" %></th>
            <th><%= sortable "updated_at", "Last Updated" %></th>
            <th><%= sortable "content" %></th>
          </tr>
        </thead>

        <% @posts.each do |post| %>
          <tr>
            <td> <%= User.find(post.user_id).username %> </td>
            <td> <%= post.updated_at.strftime("%F %H:%M") %>   </td>
            <td> <%= post.content %> </td>
          </tr>
        <% end %>
      <% else %>
        <p class="no_posts_msg">No Posts added yet!</p>
      <% end %>
    </div>
