<h1><%= @destination.name %>'s Destination Detail Page</h1>

<div class="row">
  <div class="col-sm-12 image_cell">
    <% if @destination.image_url %>
      <p>
        <%= image_tag @destination.image_url, height: '100%', width: '100%' %>
      </p>
    <% end %>
  </div>

</div>

<p>
  <%= @destination.blurb  %>
</p>

<h4>Description:</h4>
<p>
  <%= @destination.description %>
</p>

<br>

<p>
  <%= link_to @destination.country.name + " Page", country_path(@destination.country) %>
    <% if user_signed_in? %>
    | <%= link_to "Edit", edit_country_destination_path(@destination.country, @destination) %> |
      <%= link_to "Delete", country_destination_path(@destination.country, @destination),
      :data => {:confirm => "Are you sure?",
        :method => "delete"} %>
    <% end %>
</p>

<hr>

<%= link_to 'Check Weather', new_country_destination_forecast_path(@destination.country, @destination),  id: "check_weather_link" %>

<span class="forecast_label"<h3>Latest Forecast: </h3></span><span class="darksky_attribution">(<%= link_to "Powered by Dark Sky", "https://darksky.net/poweredby/", :target => "_blank"%>)</span>
  <div class="forecast_div">
    <% if @destination.forecasts.any? %>
      <table id="forecast_table" class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th><%= "Date" %></th>
            <th><%= "Time Zone" %></th>
            <th><%= "Temperature" %></th>
            <th><%= "Humidity" %></th>
            <th><%= "Chance of Rain" %></th>
            <th><%= "7 Day Forecast" %></th>
          </tr>
        </thead>

        <% @forecast_d = @destination.forecasts.order(:api_timestamp => :DESC).first  %>
          <tr>
            <td> <%= @forecast_d.date %> </td>
            <td> <%= @forecast_d.timezone %> </td>
            <td> <%= @forecast_d.temp %> </td>
            <td> <%= @forecast_d.humidity %> </td>
            <td> <%= @forecast_d.precip_probability %> </td>
            <td> <%= @forecast_d.summary_for_week %> </td>
          </tr>
      </table>
    <% else %>
      <p class="no_forecasts_msg">No forecasts added yet!</p>
    <% end %>
  </div>

<hr>

<% if user_signed_in? %>
  <%= link_to 'Add Post', new_country_destination_post_path(@destination.country, @destination), remote: true, id: "d_add_post_link" %>
<% end %>


<h3>Posts:</h3>
  <div class="destination_post_list">
    <% if @destination.posts.any? %>
      <table id="destination_post_table" class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th><%= sortable "username" %></th>
            <th><%= sortable "updated_at", "Last Updated" %></th>
            <th><%= sortable "content" %></th>
          </tr>
        </thead>

        <% @posts.each do |post| %>
          <tr>
            <td> <%= User.find(post.user_id).username %> </td>
            <td> <%= post.updated_at.strftime("%F %H:%M:%S") %> </td>
            <td> <%= post.content %> </td>
          </tr>
        <% end %>
      </table>
      <% else %>
        <p class="no_posts_msg">No posts added yet!</p>
      <% end %>
    </div>
